        <!--
        	Footer Page.
          Footer with multiple optional links.
        -->
    
        </main>
        <footer class="page-footer white border border-top-1 border-bottom-1 border-right-0 border-left-0" style="padding:5px">
          <div class="container-fluid" style="margin:5px ">
            <div class="row" style="margin:0px">
              <div class="col-lg-6 col-md-6 col-sm-3  d-none d-sm-block">
                <h5 style="color: #7dce94; padding:10px;">Surveyfy</h5>
              </div>
              <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-9 col-xs-12" id="footerLinks">
                <ul>
                  <<a href="/about">About</a>
                  <a href="/">Home</a>
                  <a href="/surveys">Dashboard</a>
                  <%if(!currentUser){%>
                  <a href="/login">Login</a>
                  <a href="/register">Sign Up</a>
                  <%}%>
                  </ul>
            </div>
            </div>
          </div>
          
            <div class="container-fluid" style="color:#3d3d3f;background-color:#f6f5f3">
            © 2018 Copyright Surveyfy. All Rights Reserved.
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
          
        </footer>
        
        <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </body>
    
</html>