        <!--
        	Footer Page.
          Footer with multiple optional links.
        -->
    
        </main>
        <footer class="page-footer white border border-top-1 border-bottom-1 border-right-0 border-left-0" >
          <div class="container-fluid" style="margin:5px ">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <h5 style="color: #7dce94">Surveyfy</h5>
                <p style="color: #7dce94">A Survey Platform.</p>
              </div>
             
                <h5 class="white-text">Links</h5>
                
                  <li><a style="color: #7dce94" href="/">Home</a></li>
                  <li><a style="color: #7dce94"  href="/about">About</a></li>
                  <li><a style="color: #7dce94" href="/surveys">Dashboard</a></li>
                  <li><a style="color: #7dce94" href="/login">Login</a></li>
                  <li><a style="color: #7dce94" href="/register">Sign Up</a></li>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container" style="color:#3d3d3f">
            © 2018 Copyright Surveyfy. All Rights Reserved.
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
          </div>
        </footer>
        
        <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
        
    </body>
    
</html>