<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   
  <!--  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"-->
  <!--       rel = "stylesheet">-->
  <!--<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>-->
  <!--    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
  
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
  
  <link rel="stylesheet" href="/css/style.css">
  <link href="css/open-iconic-bootstrap.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  
  <title>Surveyfy</title>
</head>

<body>
  

  <nav class="navbar  bg-light navbar-light navbar-expand-lg navbar-expand-md navbar-expand-sm">
     <div class="container-fluid" style="background-color: #7dce94;height:55px"> 


        <a class="navbar-brand d-none d-sm-block " href="/"><h4 class="m-2" style="color:white">Surveyfy</h4></a>

      <button class="navbar-toggler" id="nav-bar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation" style="margin-left:5px;">
          <div class="bar1" style="width:25px ;height:4px;background-color: white; margin:4px"></div>
          <div class="bar2" style="width:25px ;height:4px;background-color: white; margin:4px"></div>
          <div class="bar3" style="width:25px ;height:4px;background-color: white; margin:4px"></div>
        </button>

       <!--This div will only be visibile for small screen devices-->
        <div class="d-block d-sm-none" style="height:50px">
      <a class="navbar-brand " href="/" style="margin-right:10px"><span style="color:white">Surveyfy</span></a>
     </div>
      
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="width:100%">
       <!--list for displaying on large screens-->
        <div class="large-Screens d-none d-sm-block " style="width:100%;height:55px">
            <li class="nav-item dropdown float-right" >
                <a class="nav-link" href="#" data-target="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="color: white"><%if(currentUser){%><%=currentUser.firstName%><%} else{%>User<%}%></span><span class="oi oi-caret-bottom p-2" style="color:  white"></span></a>
            <div class="dropdown-menu"  id="drop" aria-labelledby="dropdownMenuLink" >    
                <% if (!currentUser) {%>
              <a style="padding:5px" class="dropdown-item " href="/login">Login</span><span class="oi oi-account-login" title="icon name" aria-hidden="true"></span></a>
              <a style="padding:5px" class="dropdown-item" href="/register">Sign Up</a>
              <% } else {%>
              <a style="padding:5px;" class="dropdown-item " href="/logout">Logout&nbsp;&nbsp;<span class="oi oi-account-logout" title="icon name" aria-hidden="true"></span></a>
              <% } %>
          </div>
      </li>
        &nbsp;
        <li class="nav-item float-right">
          <a class="nav-link" href="/surveys" style="color:white">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        &nbsp;
        <li class="nav-item float-right">
          <a class="nav-link" href="/surveys/mySurveys" style="color:white">MySurvey</a>
        </li>
        &nbsp;
        <li class="nav-item float-right" >
          <a class="nav-link" href="/about" style="color:white">About</a>
        </li>
         <!--displaying the user info having @media width>576px for lg,md,sm displays-->
        
        </div>

       <!---displaying nav link list on mobile screens-->
        <li class="nav-item d-block d-sm-none">
          <a class="nav-link" href="/surveys"><span style="color:  white">Dashboard</span> <span class="sr-only">(current)</span></a>
        </li>  
        <li class="nav-item d-block d-sm-none">
          <a class="nav-link" href="/surveys/mySurveys"><span style="color:  white">MySurvey</span></a>
        </li>
        <li class="nav-item d-block d-sm-none" >
          <a class="nav-link" href="/about"><span style="color:  white">About</span></a>
        </li>

         <!--displaying the user info when in mobile screens-->
         <li class="nav-item dropdown float-right d-block d-sm-none" >
            <a class="nav-link" href="#" data-target="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="color: white"><%if(currentUser){%><%=currentUser.firstName%><%} else{%>User<%}%></span><span class="oi oi-caret-bottom p-2" style="color:  white"></span></a>
        <div class="dropdown-menu"  id="drop" aria-labelledby="dropdownMenuLink" >    
            <% if (!currentUser) {%>
          <a style="padding:5px" class="dropdown-item " href="/login">Login</span><span class="oi oi-account-login" title="icon name" aria-hidden="true"></span></a>
          <a style="padding:5px" class="dropdown-item" href="/register">Sign Up</a>
          <% } else {%>
          <a style="padding:5px;" class="dropdown-item " href="/logout">Logout&nbsp;&nbsp;<span class="oi oi-account-logout" title="icon name" aria-hidden="true"></span></a>
          <% } %>
      </div>
  </li>
          
          
       </ul>
</div>
</div>
  </nav>  


                                                                                                                                                                                                                                                  
 
<!--
	Displays a alert div for showing messages for admin and respondents with if condition to check the length of error and success.
-->



<div >
  <% if (error && error.length >= 1) {%>
    <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
  
  <% if (success && success.length >= 1) {%>
    <div class="alert alert-success " role="alert">
      <%= success %>
    </div>
   <% } %> 
</div>


<script>
$(document).ready(function(e){

$('#nav-bar-toggler').on('click',function(e){
  $('.collapse').on('show.bs.collapse',function(){
   $('#navbarNavDropdown').css('background-color','#7dce94')
   $('#navbarNavDropdown').css('z-index','1')
   $('main').css('z-index','-1')
   $('main').css('filter','blur(2px)')
  });
  $('.collapse').on('hidden.bs.collapse',function(){$('#navbarNavDropdown').css('background-color','#7dce94')
  $('main').css('z-index','0')
  $('main').css('filter','blur(0)')
  $('nav').css('z-index','1')
  });
})

$('#listUser').on('click',function(e){
$('.dropdown').on('shown.bs.dropdown', function () {
  $('.dropdown-menu').css('background-color','#7dce94')
})
})
})
</script>
  
<main>


