<% include partials/header %>

<!-- 
  Functionality to reset forgotten password form.
  After clicking Forgot Password. An email with the reset password link is sent to the Admin's email address.
-->
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-left text-uppercase">Forgot Password</h3>
      <br></br>
      <form action="/forgot_password" method="post">
          
        <div class="form-group">
          <label for="username">Email</label>
          <input type="email" class="form-control" name="username" autofocus required>
        </div>
        
        <button type="submit" class="btn btn-primary float-right">Forgot Password</button>
        
        
        <a id="btnRightSpacing" class="btn btn-secondary float-left" href="/">Go Back</a>
        <a class="btn btn-secondary float-left" href="/login">Log In</a>
        
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>