<% include ../partials/res-full-header %>
<!--This is the end page repondentswhen they complete survey.-->
<div class="container">
    <div  class="card card-body mb-2 bg-light">
        <h1>Thank you!</h1>
            Thank you for take these survey, please Take your coupons.
            
           
    </div>
    <p>Take a look at other surveys below</p>
        <a class="btn btn-primary" href="/">Other Surveys</a>
</div>
        
<% include ../partials/res-full-footer %>